---
import Layout from "../layouts/Layout.astro";
import { faRocket, faCircleQuestion, faBookmark, faPhone, faChevronRight } from "@fortawesome/free-solid-svg-icons";
import Icon from "../components/Icon.astro";

const links = [
  {
    name: "Projects",
    url: "/projects",
    description: "Check out our latest work.",
    icon: faRocket,
  },
  {
    name: "About",
    url: "/about",
    description: "Who, what, or where, is McInnes Design.",
    icon: faCircleQuestion,
  },
  { 
    name: "Contact", 
    url: "/contact", 
    description: "Reach out.", 
    icon: faPhone 
  },
  {
    name: "Blog",
    url: "/blog",
    description: "Info dump.",
    icon: faBookmark,
  },
];
---

<Layout title="McInnes Design &#124; 404" description="When bad things happen, I know you want to believe they are a joke, but sometimes life is scary and dark. That is why we must find the light.">
  <main class="mx-auto w-full max-w-7xl px-6 pt-10 pb-16 sm:pb-24 lg:px-8">
    <div class="mx-auto mt-20 max-w-2xl text-center sm:mt-24">
      <p class="text-base/8 font-semibold text-indigo-600 dark:text-indigo-500">404</p>
      <h1
        class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 dark:text-gray-50 sm:text-6xl"
      >
        This page does not exist
      </h1>
      <p
        class="mt-6 text-lg font-medium text-pretty text-gray-500 dark:text-gray-200 sm:text-xl/8"
      >
        Not what you were expecting? Check out one of the common links below or
        contact us.
      </p>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-lg sm:mt-20">
      <h2 class="sr-only">Popular pages</h2>
      <ul
        role="list"
        class="-mt-6 divide-y divide-gray-900/5 dark:divide-gray-100/5 border-b border-gray-900/5 dark:border-gray-100/5"
      >
        {
          links.map((link) => (
            <li class="relative flex gap-x-6 py-6">
              <div class="flex size-10 flex-none items-center justify-center rounded-lg ring-1 shadow-xs ring-gray-900/10 dark:bg-gray-800">
                <Icon icon={link.icon} class="size-6! text-indigo-600 dark:text-indigo-500" />
              </div>
              <div class="flex-auto">
                <h3 class="text-sm/6 font-semibold text-gray-900 dark:text-gray-50">
                  <a href={link.url}>
                    <span aria-hidden="true" class="absolute inset-0" />
                    {link.name}
                  </a>
                </h3>
                <p class="mt-2 text-sm/6 text-gray-600 dark:text-gray-300">{link.description}</p>
              </div>
              <div class="flex-none self-center">
                <Icon icon={faChevronRight} class="size-5! text-gray-400 dark:text-gray-200" />
              </div>
            </li>
          ))
        }
      </ul>
      <div class="mt-10 flex justify-center">
        <a href="/" class="text-sm/6 font-semibold text-indigo-600 dark:text-indigo-500">
          <span aria-hidden="true">&larr;</span> Back to home
        </a>
      </div>
    </div>
  </main>
</Layout>
