---
import Layout from "../layouts/Layout.astro";
import { faCircleCheck } from "@fortawesome/free-solid-svg-icons";
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import amThumbnail from "../assets/am_thumbnail.jpg";

const contacts = [
  {
    name: "Say G'day",
    url: "/contact",
    cta: "Contact Us",
  },
  {
    name: "Project Enquiries",
    url: "/contact",
    cta: "Contact Us",
  },
];

const offices = [
  {
    location: "Brisbane | Meanjin",
    address: {
      street: "123 Test St",
      city: "Brisbane",
      state: "QLD",
      zip: "4000",
    },
  },
  {
    location: "Melbourne | Naarm",
    address: {
      street: "coming soon?",
      city: "",
      state: "",
      zip: "",
    },
  },
];
---

<Layout title="McInnes Design | About">
  {/* header */}
  <div class="overflow-hidden py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <div class="max-w-4xl">
        <p
          class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-500"
        >
          What we do
        </p>
        <h1
          class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-50 sm:text-5xl"
        >
          About McInnes Design
        </h1>
        <p class="mt-6 text-xl/8 text-balance text-gray-700 dark:text-gray-200">
          McInnes Design is a boutique design and development agency based in
          Brisbane &#124; Meanjin, Australia. Founded by Andrew McInnes
        </p>
      </div>
      <section
        class="mt-20 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16"
      >
        <div class="lg:pr-8">
          <h2
            class="text-2xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-50"
          >
            Our mission
          </h2>
          <p class="mt-8 text-base/7 text-gray-600 dark:text-gray-300">
            At McInnes Design we are focused on providing top tier web design
            &amp; development services, bespoke application development, and
            print/digital media content.
          </p>
          <p class="mt-8 text-base/7 text-gray-600 dark:text-gray-300">
            Think of us as your one stop shop for anything your business or
            personal project might need.
          </p>
        </div>
        <div class="pt-16 lg:row-span-2 lg:-mr-16 xl:mr-auto">
          <div
            class="-mx-8 grid grid-cols-2 gap-4 sm:-mx-16 sm:grid-cols-4 lg:mx-0 lg:grid-cols-2 lg:gap-4 xl:gap-8"
          >
            <div
              class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10"
            >
              <Image
                alt=""
                width="560"
                height="560"
                src="https://images.unsplash.com/photo-1590650516494-0c8e4a4dd67e?&auto=format&fit=crop&crop=center&w=560&h=560&q=90"
                class="block size-full object-cover"
                loading="eager"
              />
            </div>
            <div
              class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40"
            >
              <Image
                alt=""
                width="560"
                height="560"
                src="https://images.unsplash.com/photo-1557804506-669a67965ba0?&auto=format&fit=crop&crop=left&w=560&h=560&q=90"
                class="block size-full object-cover"
                loading="eager"
              />
            </div>
            <div
              class="aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10"
            >
              <Image
                alt=""
                width="560"
                height="560"
                src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?&auto=format&fit=crop&crop=left&w=560&h=560&q=90"
                class="block size-full object-cover"
              />
            </div>
            <div
              class="-mt-8 aspect-square overflow-hidden rounded-xl shadow-xl outline-1 -outline-offset-1 outline-black/10 lg:-mt-40"
            >
              <Image
                alt=""
                width="560"
                height="560"
                src="https://images.unsplash.com/photo-1598257006458-087169a1f08d?&auto=format&fit=crop&crop=center&w=560&h=560&q=90"
                class="block size-full object-cover"
              />
            </div>
          </div>
        </div>
        <div class="max-lg:mt-16 lg:col-span-1">
          <p class="text-base/7 font-semibold text-gray-500 dark:text-gray-200">
            Some stats
          </p>
          <hr class="mt-6 border-t border-gray-200 dark:border-gray-600" />
          <dl class="mt-6 grid grid-cols-1 gap-x-8 gap-y-4 sm:grid-cols-2">
            <div
              class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 dark:border-gray-600 pb-4"
            >
              <dt class="text-sm/6 text-gray-600 dark:text-gray-300">
                Australian Based
              </dt>
              <dd
                class="order-first text-6xl font-semibold tracking-tight dark:text-gray-50"
              >
                <span>100</span>%
              </dd>
            </div>
            <div
              class="flex flex-col gap-y-2 border-b border-dotted border-gray-200 dark:border-gray-600 pb-4"
            >
              <dt class="text-sm/6 text-gray-600 dark:text-gray-300">
                Integration (so far)
              </dt>
              <dd
                class="order-first text-6xl font-semibold tracking-tight dark:text-gray-50"
              >
                <span>1</span>
              </dd>
            </div>
            <div
              class="flex flex-col gap-y-2 max-sm:border-b max-sm:border-dotted max-sm:border-gray-200 dark:max-sm:border-gray-600 max-sm:pb-4"
            >
              <dt class="text-sm/6 text-gray-600 dark:text-gray-300">
                Services
              </dt>
              <dd
                class="order-first text-6xl font-semibold tracking-tight dark:text-gray-50"
              >
                <span>6</span>+
              </dd>
            </div>
            <div class="flex flex-col gap-y-2">
              <dt class="text-sm/6 text-gray-600 dark:text-gray-300">
                Hours Saved
              </dt>
              <dd
                class="order-first text-6xl font-semibold tracking-tight dark:text-gray-50"
              >
                <span>200</span>+
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </div>
  </div>

  {/* our team */}
  <div class="bg-gray-900 dark:bg-slate-900 relative isolate py-32 sm:py-40">
    <div class="relative isolate -z-10">
      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div
          class="mx-auto flex max-w-2xl flex-col gap-16 bg-white/5 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20"
        >
          <Image
            src={amThumbnail}
            alt=""
            class="h-96 w-full flex-none rounded-2xl object-contain bg-[#1C1C1E] shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm"
          />
          <div class="w-full flex-auto">
            <h2
              class="text-4xl font-semibold tracking-tight text-pretty text-white sm:text-5xl"
            >
              Meet the Team
            </h2>
            <p class="mt-6 text-lg/8 text-pretty text-gray-300">
              Andrew McInnes - Founder
            </p>
            <ul
              role="list"
              class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 text-base/7 text-white sm:grid-cols-2"
            >
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Australian Based
              </li>
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Web Development
              </li>
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Print &amp; Digital Design
              </li>
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Logos &amp; Graphics
              </li>
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Frontend Frameworks
              </li>
              <li class="flex gap-x-3">
                <Icon icon={faCircleCheck} class="h-7! w-5! flex-none" />
                Database &amp; Backend data fetching
              </li>
            </ul>
            <div class="mt-10 flex">
              <a
                href="/projects"
                class="text-sm/6 font-semibold text-indigo-400"
                >See our projects <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
        aria-hidden="true"
      >
        <div
          class="aspect-1318/752 w-[82.375rem] flex-none bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-25"
          style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"
        >
        </div>
      </div>
    </div>
  </div>

  <div class="py-8 sm:py-16">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto max-w-2xl divide-y divide-gray-100 dark:divide-gray-700 lg:mx-0 lg:max-w-none"
      >
        <div class="grid grid-cols-1 gap-10 py-16 lg:grid-cols-3">
          <div>
            <h2
              class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-50"
            >
              Get in touch
            </h2>
            <p class="mt-4 text-base/7 text-gray-600 dark:text-gray-300">
              Have any questions or just want to chat?
            </p>
          </div>
          <div
            class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8"
          >
            {
              contacts.map((contact) => (
                <div class="rounded-2xl bg-gray-100 dark:bg-gray-800 p-10">
                  <h3 class="text-base/7 font-semibold text-gray-900 dark:text-gray-50">
                    {contact.name}
                  </h3>
                  <div class="mt-3 space-y-1 text-sm/6 text-gray-600 dark:text-gray-300">
                    <a
                      class="font-semibold text-indigo-600 dark:text-indigo-500"
                      href={contact.url}
                    >
                      {contact.cta}
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
        <div class="grid grid-cols-1 gap-10 py-16 lg:grid-cols-3">
          <div>
            <h2
              class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 dark:text-gray-50"
            >
              Locations
            </h2>
            <p class="mt-4 text-base/7 text-gray-600 dark:text-gray-300">
              100% Australian based.
            </p>
          </div>
          <div
            class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8"
          >
            {
              offices.map((office) => (
                <div class="rounded-2xl bg-gray-100 dark:bg-gray-800 p-10">
                  <h3 class="text-base/7 font-semibold text-gray-900 dark:text-gray-50">
                    {office.location}
                  </h3>
                  <address class="mt-3 space-y-1 text-sm/6 text-gray-600 dark:text-gray-300 not-italic">
                    <p>{office.address.street}</p>
                    <p>
                      {office.address.city && `${office.address.city},`}&nbsp;
                      {office.address.state}&nbsp;{office.address.zip}
                    </p>
                  </address>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
