---
import Layout from "../layouts/Layout.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import Icon from "../components/Icon.astro";
import { Image } from 'astro:assets';
import amThumbnail from '../assets/am_thumbnail.jpg';
---

<Layout title="McInnes Design | Home">
  <div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <p class="text-base/7 font-semibold text-indigo-600 dark:text-indigo-500">
        A boutique design and development agency
      </p>
      <h1
        class="mt-2 text-5xl font-semibold tracking-tight text-gray-900 dark:text-gray-50 sm:text-7xl"
      >
        McInnes Design
      </h1>
      <p
        class="mt-8 text-lg font-medium text-pretty text-gray-500 dark:text-gray-200 sm:text-xl/8"
      >
        Proudly Australian owned and operated, based in Brisbane &#124; Meanjin
      </p>
    </div>
  </div>
  {/* reviews */}
  <section class="px-6 py-24 sm:py-32 lg:px-8">
    <figure class="mx-auto max-w-2xl">
      <p class="sr-only">5 out of 5 stars</p>
      <div class="flex gap-x-1 text-indigo-600 dark:text-indigo-500">
				<Icon icon={faStar} class="size-5! flex-none" />
				<Icon icon={faStar} class="size-5! flex-none" />
				<Icon icon={faStar} class="size-5! flex-none" />
				<Icon icon={faStar} class="size-5! flex-none" />
        <Icon icon={faStar} class="size-5! flex-none" />
      </div>
      <blockquote
        class="mt-10 text-xl/8 font-semibold tracking-tight text-gray-900 dark:text-gray-50 sm:text-2xl/9"
      >
        <p>
          &quot;Amazing agency to work for, the team is amazing and always produce top quality work&quot;
        </p>
      </blockquote>
      <figcaption class="mt-10 flex items-center gap-x-6">
				<Image src={amThumbnail} alt="" class="size-12 rounded-full bg-gray-50 dark:bg-gray-800" />
        <div class="text-sm/6">
          <div class="font-semibold text-gray-900 dark:text-gray-50">Andrew McInnes</div>
          <div class="mt-0.5 text-gray-600 dark:text-gray-300">Founder of McInnes Design</div>
        </div>
      </figcaption>
    </figure>
  </section>
</Layout>
