---
import McinnesDesignLogo from "../assets/mcinnes_design_logo.svg";
import AstroLogo from "../assets/astro.svg";
import NetlifyLogo from "../assets/netlify.svg";
import { faPlus, faArrowUp } from "@fortawesome/free-solid-svg-icons";
import {
  faYoutube,
  faInstagram,
  faLinkedinIn,
  faGithub,
  faMastodon,
  faBluesky,
} from "@fortawesome/free-brands-svg-icons";
import Icon from "../components/Icon.astro";

const links = [
  {
    url: "/projects",
    text: "Projects",
  },
  {
    url: "/about",
    text: "About",
  },
  {
    url: "/contact",
    text: "Contact",
  },
  {
    url: "/blog",
    text: "Blog",
  },
];

const socials = [
  {
    name: "Youtube",
    url: "#",
    icon: faYoutube,
  },
  {
    name: "Instagram",
    url: "#",
    icon: faInstagram,
  },
  {
    name: "LinkedIn",
    url: "#",
    icon: faLinkedinIn,
  },
  {
    name: "Github",
    url: "#",
    icon: faGithub,
  },
  {
    name: "Mastodon",
    url: "#",
    icon: faMastodon,
  },
  {
    name: "Bluesku",
    url: "#",
    icon: faBluesky,
  },
];

const copyrightYear = new Date().getFullYear();
---

<footer>
  <div
    class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8 border-t border-gray-200 dark:border-gray-700"
  >
    <nav
      class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6"
      aria-label="Footer"
    >
      {
        links.map((link) => (
          <a
            href={link.url}
            class="text-black dark:text-white border-b-2 border-transparent mb-1 hover:border-current hover:pb-1 hover:mb-0 duration-200 ease-in-out"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
    <div class="mt-16 flex justify-center gap-x-6 sm:gap-x-10">
      {
        socials.map((social) => (
          <a
            href={social.url}
            class="text-gray-600 hover:text-gray-800  dark:text-gray-400 hover:dark:text-gray-100"
          >
            <span class="sr-only">{social.name}</span>
            <Icon icon={social.icon} class="size-6!" />
          </a>
        ))
      }
    </div>

    <div class="flex flex-col w-full items-center justify-center mt-12">
      <p
        class="group flex flex-col place-items-center gap-2 pt-12 px-12 sm:px-20 pb-2 text-gray-900 dark:text-gray-100 border-t border-gray-200 dark:border-gray-700"
      >
        <a
          href="//acmcinnes.au/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Footer menu - McInnes Design Agency, by Andrew McInnes. View personal website. External website."
        >
          <McinnesDesignLogo class="dark:invert" width={226} height={82} />
        </a>
        <span>
          An 
          <a
            href="//acmcinnes.au/"
            target="_blank"
            class="text-indigo-600 dark:text-indigo-300">Andrew McInnes <Icon icon={faArrowUp} class="align-super! ml-auto rotate-45 size-3! group-hover:animate-bounce" /></a
          > 
          Company
        </span>
      </p>
      <p class="pt-8 pb-3 md:pb-6 text-gray-900 dark:text-gray-100">Developed using</p>
      <div class="flex flex-row w-full items-center justify-center">
        <a class="group relative" href="//astro.build/" target="_blank" rel="noopener noreferrer" aria-label="Site built using Astro. View Astro framework. External Site.">
          <AstroLogo class="w-[8.5rem] md:w-auto dark:invert" width={218} height={76} />
          <Icon icon={faArrowUp} class="invisible group-hover:visible group-hover:animate-bounce absolute top-0 right-0 rotate-45 size-3! text-black dark:text-white" />
        </a>
        <Icon icon={faPlus} class="size-5! md:size-6! mb-0 ml-2 mr-6 dark:invert" />
        <a class="group relative" href="//www.netlify.com/" target="_blank" rel="noopener noreferrer" aria-label="Site hosted using Netlify. View Netlify hosting. External Site.">
          <NetlifyLogo class="w-[8rem] md:w-auto dark:invert" width={200} height={82} />
          <Icon icon={faArrowUp} class="invisible group-hover:visible group-hover:animate-bounce absolute top-0 right-0 rotate-45 size-3! text-black dark:text-white" />
        </a>
      </div>
    </div>

    <a
      href="https://status.mcinnes.design/"
      class="mt-10 mb-5 group flex items-center justify-center gap-x-2"
      target="_blank"
    >
      <div
        class={`group-hover:animate-pulse text-green-400 bg-green-400/10 flex-none rounded-full p-1`}
      >
        <div class="size-3 rounded-full bg-current"></div>
      </div>
      <div class="text-black dark:text-white text-xs">System Status</div>
    </a>

    <p class="text-center text-sm/6 text-gray-600 dark:text-gray-300">
      &copy; {copyrightYear} &#124; McInnes Design
    </p>
    <p class="text-center text-sm/6 text-gray-600 dark:text-gray-300">
      ABN: 32 205 159 015
    </p>
  </div>
</footer>
