---
import { Image } from "astro:assets";
import amLogo from "../assets/am_logo.svg";
import mcinnesdesignLogo from "../assets/mcinnes_design_logo_alt.svg";
import mcinnesdesignHeader from "../assets/mcinnes_design_header.svg";
import HeaderSVG from "../assets/mcinnes_design_header.svg";
import ThemeToggle from "../components/ThemeToggle.astro";

import { faXmark, faBars, faArrowUp } from "@fortawesome/free-solid-svg-icons";
import {
  faYoutube,
  faInstagram,
  faLinkedinIn,
  faGithub,
  faMastodon,
  faBluesky,
} from "@fortawesome/free-brands-svg-icons";
import Icon from "../components/Icon.astro";

const links = [
  {
    url: "/projects",
    text: "Projects",
  },
  {
    url: "/about",
    text: "About",
  },
  {
    url: "/contact",
    text: "Contact",
  },
  {
    url: "/blog",
    text: "Blog",
  },
];

const socials = [
  {
    name: "Youtube",
    url: "#",
    icon: faYoutube,
  },
  {
    name: "Instagram",
    url: "#",
    icon: faInstagram,
  },
  {
    name: "LinkedIn",
    url: "#",
    icon: faLinkedinIn,
  },
  {
    name: "Github",
    url: "#",
    icon: faGithub,
  },
  {
    name: "Mastodon",
    url: "#",
    icon: faMastodon,
  },
  {
    name: "Bluesku",
    url: "#",
    icon: faBluesky,
  },
];
---

<header>
  {/* mobile navbar */}
  <nav
    class="mx-auto flex items-center justify-end px-6"
    aria-label="Global"
  >
    <ThemeToggle />
    <div class="flex pt-5 ml-6 lg:hidden">
      <label for="mobileMenu" class="self-center text-gray-900 dark:text-white inline-flex pr-2">
        Menu
      </label>
      <button
        type="button"
        name="mobileMenu"
        class="mobile-menu-toggle -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-indigo-600 dark:text-indigo-300"
      >
        <span class="sr-only">Open main menu</span>
        <Icon icon={faBars} class="size-6!" />
      </button>
    </div>
  </nav>
  {/* Mobile menu, show/hide based on menu open state */}
  <div class="mobile-menu hidden lg:hidden" role="dialog" aria-modal="true">
    {/* Menu backdrop overlay, show/hide based on slide-over state */}
    <div class="mobile-menu-toggle fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white dark:bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 sm:dark:ring-gray-100/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">McInnes Design</span>
          <Image
            src={mcinnesdesignLogo}
            alt="Developed by Andrew McInnes"
            class="dark:invert h-8 w-auto"
          />
        </a>
        <button
          type="button"
          class="mobile-menu-toggle -m-2.5 rounded-md p-2.5 text-gray-700 dark:text-gray-100"
        >
          <span class="sr-only">Close menu</span>
          <Icon icon={faXmark} class="size-6!" />
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10 dark:divide-gray-300/10">
          <div class="space-y-2 py-6">
            {
              links.map((link) => (
                <a
                  href={link.url}
                  class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-100 hover:bg-gray-50 hover:dark:bg-gray-700"
                >
                  {link.text}
                </a>
              ))
            }
          </div>
          <div class="py-6">
            <a
              href="//acmcinnes.au"
              target="_blank"
              class="-m-1.5 p-1.5 flex flex-row items-center"
            >
              <p class="text-small dark:text-white">an {" "}</p>
              <Image
                src={amLogo}
                alt="Developed by Andrew McInnes"
                class="dark:invert h-8 w-auto"
              />
              <p class="text-small dark:text-white">{" "}company</p>
              <Icon icon={faArrowUp} class="ml-auto rotate-45 size-4! dark:text-white" />
            </a>
          </div>

          <div class="mt-16 flex justify-center gap-x-6">
            {
              socials.map((social) => (
                <a
                  href={social.url}
                  class="text-gray-600 hover:text-gray-800  dark:text-gray-400 hover:dark:text-gray-100"
                >
                  <span class="sr-only">{social.name}</span>
                  <Icon icon={social.icon} class="size-6!" />
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="/">
    <HeaderSVG title="McInnes Design Logo" class="h-auto w-full pt-5 px-5 text-indigo-600 dark:text-indigo-500" />
  </a>
  <div
    class="px-5 text-5xl flex justify-end gap-4 uppercase font-semibold tracking-tight text-gray-900 dark:text-gray-50 sm:text-7xl"
  >
  <a href="/" class="text-right">
    McInnes Design
  </a>
    <div class="hidden lg:flex gap-4">
      <p class="text-base content-end pb-2">by</p>
      <a href="//acmcinnes.au" target="_blank" class="group relative content-end pb-2.5">
        <span class="sr-only">Andrew McInnes</span>
        <Image
          src={amLogo}
          alt="Developed by Andrew McInnes"
          class="invert-20 group-hover:invert-10 dark:invert-80 group-hover:dark:invert h-12 w-auto"
          loading="eager"
        />
        <Icon icon={faArrowUp} class="absolute invisible top-3 right-0 rotate-45 size-3! group-hover:visible group-hover:animate-bounce" />
      </a>
    </div>
  </div>
  {/* desktop navbar */}
  <nav
    class="mx-auto hidden lg:flex w-full items-center justify-end pt-2 px-48"
    aria-label="Global"
  >
    <div class="py-6 flex gap-x-12">
      {
        links.map((link) => (
          <a href={link.url} class="text-black dark:text-white border-b-2 border-transparent mb-1 hover:border-current hover:pb-1 hover:mb-0 duration-200 ease-in-out">
            {link.text}
          </a>
        ))
      }
    </div>
  </nav>
</header>
