---
import { Image } from 'astro:assets';
import amLogo from '../assets/am_logo.svg';
import mcinnesdesignLogo from '../assets/mcinnes_design_logo.svg';
import ThemeToggle from '../components/ThemeToggle.astro';

import { faXmark, faBars } from "@fortawesome/free-solid-svg-icons";
import {
  faYoutube,
  faInstagram,
  faLinkedinIn,
  faGithub,
  faMastodon,
  faBluesky,
} from "@fortawesome/free-brands-svg-icons";
import Icon from "../components/Icon.astro";

const links = [
  {
    url: "/projects",
    text: "Projects",
  },
  {
    url: "/about",
    text: "About",
  },
  {
    url: "/contact",
    text: "Contact",
  },
  {
    url: "/blog",
    text: "Blog",
  },
];

const socials = [
  {
    name: "Youtube",
    url: "#",
    icon: faYoutube,
  },
  {
    name: "Instagram",
    url: "#",
    icon: faInstagram,
  },
  {
    name: "LinkedIn",
    url: "#",
    icon: faLinkedinIn,
  },
  {
    name: "Github",
    url: "#",
    icon: faGithub,
  },
  {
    name: "Mastodon",
    url: "#",
    icon: faMastodon,
  },
  {
    name: "Bluesku",
    url: "#",
    icon: faBluesky,
  },
];
---

<header class="bg-indigo-600">
  {/* banner */}
  <div
    class="flex items-center gap-x-6 bg-indigo-400 px-6 py-2.5 sm:px-3.5 sm:before:flex-1"
  >
    <p class="text-sm/6 text-white">
      Website under construction - content may change
    </p>
    <div class="flex flex-1 justify-end">
      <ThemeToggle />
    </div>
  </div>
  {/* menu */}
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">McInnes Design</span>
        <Image src={mcinnesdesignLogo} alt="" class="invert h-8 w-auto" loading="eager" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="mobile-menu-toggle -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-indigo-300"
      >
        <span class="sr-only">Open main menu</span>
        <Icon icon={faBars} class="size-6!" />
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {
        links.map((link) => (
          <a href={link.url} class="text-sm/6 font-semibold text-white">
            {link.text}
          </a>
        ))
      }
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="//acmcinnes.au" target="_blank" class="-m-1.5 p-1.5">
        <span class="sr-only">Andrew McInnes</span>
        <Image src={amLogo} alt="Developed by Andrew McInnes" class="invert h-8 w-auto" loading="eager" />
      </a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="mobile-menu hidden lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="mobile-menu-toggle fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white dark:bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10 sm:dark:ring-gray-100/10"
    >
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">McInnes Design</span>
          <Image src={amLogo} alt="Developed by Andrew McInnes" class="dark:invert h-8 w-auto" />
          <img
            class="h-8 w-auto dark:text-white"
            src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
            alt=""
          />
        </a>
        <button
          type="button"
          class="mobile-menu-toggle -m-2.5 rounded-md p-2.5 text-gray-700 dark:text-gray-100"
        >
          <span class="sr-only">Close menu</span>
          <Icon icon={faXmark} class="size-6!" />
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10 dark:divide-gray-300/10">
          <div class="space-y-2 py-6">
            {
              links.map((link) => (
                <a
                  href={link.url}
                  class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 dark:text-gray-100 hover:bg-gray-50 hover:dark:bg-gray-700"
                >
                  {link.text}
                </a>
              ))
            }
          </div>
          <div class="py-6">
            <a href="//acmcinnes.au" target="_blank" class="-m-1.5 p-1.5">
              <span class="sr-only">Andrew McInnes</span>
              <Image src={amLogo} alt="Developed by Andrew McInnes" class="dark:invert h-8 w-auto" />
            </a>
          </div>

          <div class="mt-16 flex justify-center gap-x-6">
            {socials.map((social) => (
              <a href={social.url} class="text-gray-600 hover:text-gray-800  dark:text-gray-400 hover:dark:text-gray-100">
                <span class="sr-only">{social.name}</span>
                <Icon icon={social.icon} class="size-6!" />
              </a>
            ))}
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
